Repository piukhq/kube-autodiscover: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-develop-api, build-develop-poster

.gitlab-ci.yml:

stages:
  - test
  - build

test-golint:
  stage: test
  image: golangci/golangci-lint:v1.27.0
  script:
    - golangci-lint run -v

build-develop-api:
  stage: build
  image: docker:latest
  only:
    refs:
      - master
    changes:
      - Dockerfile-api
      - cmd/api/**
  services:
    - docker:dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  script:
    - docker build --pull -t "$CI_REGISTRY/kube-autodiscover-api:latest" -f Dockerfile-api .
    - docker tag "$CI_REGISTRY/kube-autodiscover-api:latest" "$CI_REGISTRY/kube-autodiscover-api:develop-$CI_COMMIT_SHORT_SHA"
    - docker push "$CI_REGISTRY/kube-autodiscover-api:latest"
    - docker push "$CI_REGISTRY/kube-autodiscover-api:develop-$CI_COMMIT_SHORT_SHA"

build-develop-poster:
  stage: build
  image: docker:latest
  only:
    refs:
      - master
    changes:
      - Dockerfile-poster
      - cmd/poster/**
  services:
    - docker:dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  script:
    - docker build --pull -t "$CI_REGISTRY/kube-autodiscover-poster:latest" -f Dockerfile-poster .
    - docker tag "$CI_REGISTRY/kube-autodiscover-poster:latest" "$CI_REGISTRY/kube-autodiscover-poster:develop-$CI_COMMIT_SHORT_SHA"
    - docker push "$CI_REGISTRY/kube-autodiscover-poster:latest"
    - docker push "$CI_REGISTRY/kube-autodiscover-poster:develop-$CI_COMMIT_SHORT_SHA"

Added token
  cmd/api/main.go
  cmd/poster/main.go
Due: build-develop-api, build-develop-poster

Started on cli
  cmd/b2k/main.go
  go.mod
  go.sum
Due: none

Started initial binary
  cmd/b2k/main.go
Due: none

Fixed weird issue
  cmd/b2k/main.go
Due: none

Added authInfo configuration
  cmd/b2k/main.go
  go.mod
  go.sum
Due: none

Added cli build
  .gitignore
  .gitlab-ci.yml
Due: none

Bump
  cmd/b2k/main.go
Due: none

Added version
  .gitlab-ci.yml
  cmd/b2k/main.go
Due: none

Fixed gitlab file
  .gitlab-ci.yml
Due: none

Fix 2
  .gitlab-ci.yml
  cmd/b2k/main.go
Due: none

Updated b2k to fix existing clusters with differing data
  cmd/b2k/main.go
Due: none

Added mutex
  cmd/api/main.go
Due: build-develop-api

Added readme
  README.md
Due: none

Added http request logging :/
  cmd/api/main.go
  go.mod
  go.sum
Due: build-develop-api

Updated gitlab
  .gitlab-ci.yml
Due: none

Trigger b2k build
  cmd/b2k/main.go
Due: none

Trigger build
  .gitlab-ci.yml
  cmd/b2k/main.go
Due: none

Rebuild with go 1.16
  .gitlab-ci.yml
  cmd/b2k/main.go
Due: none

Added new b2k builds
  .gitlab-ci.yml
Due: none

Force CI run
  .gitlab-ci.yml
Due: none

Convert to GitHub Actions
  .github/workflows/ci.yaml
  .gitlab-ci.yml
  Dockerfile-api
  Dockerfile-poster
  Makefile
  cmd/api/main.go
  cmd/poster/main.go
  go.mod
  go.sum
Due: build-develop-api, build-develop-poster

:sparkles: use kubelogin in user config
  cmd/b2k/main.go
Due: none

Upgrade to Go 1.19
  .github/workflows/ci.yaml
  cmd/poster/main.go
  go.mod
  go.sum
Due: build-develop-poster

Updated README
  .gitignore
  README.md
Due: none

Update URL to use for cluster-autodiscover API
  cmd/b2k/main.go
  cmd/poster/main.go
Due: build-develop-poster

Update CI to use Go 1.19
  .github/workflows/ci.yaml
Due: none
